%h1
  Displaying Posts
%ul.status
  - @posts.each_with_index do |post, index|
    %li{:style => "display:block"}
      .text= "#{post_link(post, post.title)}"

%h3.form_heading Create Post

%div.form_area
  -if !@post.errors.empty?
    %div.error_block
      %h4 Please fix these errors
      %ul
        -@post.errors.each do |field, message|
          %li.error="#{ field } #{ message }"
  %form{:action => '/posts',       :method => 'post'}
    %div.fields
      %label{:for => 'post_title',   :value => 'Title'}='Title'
      %input{:name => 'post[title]', :type => 'text'}
    %div.fields
      %label{:for => 'post_body',    :value => 'Body'}='Body'
      %textarea{:cols => '20', :rows => 10}
    %div.button
      %input{:type => 'submit', :value => 'Create'}
