!!!
%html{html_attrs}
  %head
    %title='My Sinatra Application'
    %link{:href => '/assets/stylesheets/application.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        %h1
          My Sinatra Application
      #content= yield