body, header, .col-big, nav#main_menu ul, .col-full{ min-width:320px; }

header{ margin-bottom:400px; position:relative; }
div.col-big{ width:320px; }
header div.col-big{ overflow:visible; }

header.hide{width: auto;}

div.col-medium,
div.col-small{ width:280px; float:none; margin:0px auto; padding:30px; }
div.col-small{ border-top:1px solid #CCCCCC; }
div.col-small * { text-align:center; margin:0px auto; float:none !important; }

article#contact-us .col-medium{ padding:30px 0px; }

.col-full.custompic01{ padding-top:0px; background-position:center 0px; }

nav#main_menu ul{ float:right; margin-top:75px; }
nav#main_menu ul li{ display:none; background-color:#A50221; }
nav#main_menu ul li a{ font-size:24px; color:#FFFFFF; }
nav#main_menu ul li.tablet-menu{ display:block; background-color:transparent !important; opacity:1; position:absolute; }
nav#main_menu ul li.tablet-menu a{ margin:0px; float:right; padding-top:0px; }
nav#main_menu ul li.tablet-menu:hover span{background:url("/img/icon-three-line-v2.png") no-repeat center center; }
nav#main_menu.active{ position: absolute; }
nav#main_menu.active ul li{ display:block; }
nav#main_menu.active ul li:hover{ display:block; background-color:#FFFFFF; }
nav#main_menu.active ul li:hover a{ color:#A50221; }

nav#main_menu li a.icon-menu-house{ background-image:url(../img/grid/icon-menu-house-white.png); }
nav#main_menu li a.icon-menu-briefcase{ background-image:url(../img/grid/icon-menu-briefcase-white.png); }
nav#main_menu li a.icon-menu-gear{ background-image:url(../img/grid/icon-menu-gear-white.png); }
nav#main_menu li a.icon-menu-letter{ background-image:url(../img/grid/icon-menu-letter-white.png); }
nav#main_menu li a.icon-menu-peoples{ background-image:url(../img/grid/icon-menu-peoples-white.png); }
nav#main_menu li a.icon-menu-speechbubble{ background-image:url(../img/grid/icon-menu-speechbubble-white.png); }
nav#main_menu li a.icon-menu-tie{ background-image:url(../img/grid/icon-menu-tie-white.png); }
nav#main_menu li a.icon-menu-news{ background-image:url(../img/grid/icon-menu-news-white.png); }
nav#main_menu li:hover a.icon-menu-house{ background-image:url(../img/grid/icon-menu-house.png); }
nav#main_menu li:hover a.icon-menu-briefcase{ background-image:url(../img/grid/icon-menu-briefcase.png); }
nav#main_menu li:hover a.icon-menu-gear{ background-image:url(../img/grid/icon-menu-gear.png); }
nav#main_menu li:hover a.icon-menu-letter{ background-image:url(../img/grid/icon-menu-letter.png); }
nav#main_menu li:hover a.icon-menu-peoples{ background-image:url(../img/grid/icon-menu-peoples.png); }
nav#main_menu li:hover a.icon-menu-speechbubble{ background-image:url(../img/grid/icon-menu-speechbubble.png); }
nav#main_menu li:hover a.icon-menu-tie{ background-image:url(../img/grid/icon-menu-tie.png); }
nav#main_menu li:hover a.icon-menu-news{ background-image:url(../img/grid/icon-menu-news.png); }


ul#slider_items li div.img-container{ width:235%; overflow:hidden; }
ul#slider_items li img{ width:100%;	height:auto; margin-right:-28%; margin-left:-28%; margin-top:0px; }

div#slider-inner{ width:320px; margin:0px auto; margin-top:0px; }
div#slider img.logo-big{ top:140px; }
div#slider h1, div#slider h2, div#slider h3{ width:320px; }
div#slider h1{ font-size:30px; top:265px; }
div#slider h2{ font-size:18px; top:310px; }
div#slider h3{ font-size:14px; top:385px; }
div#slider div.mouse-container,
ul#slider_numbers{ display:none; }

article#lead{ margin-top:-9%; /* 0px */ padding:35px 0px; }
article#lead p{ padding:10px 20px; }

article#ourclients nav{ width:320px; overflow:hidden; margin:0px auto; }
article#ourclients nav ul li{ width:1%; /* 160 */ margin:0px 80px; background-size:100%; }
article#ourclients nav ul.reference-navigation{ position:absolute; display:block; bottom:0px; }
a.btn.slider.clientslider.left{ left:20px; }
a.btn.slider.clientslider.right{ right:20px; }

nav#slider-container{ position:relative; height:235px; }
nav#slider-container ul#slider{ position:absolute; left:0px; }

article#services div#servicesslider-container{ position:relative; height:220px; }
article#services nav#services-list ul{ width:5000% !important; position:absolute; left:0px; overflow:hidden; }
article#services nav#services-list ul li{ width:1%; display:block; float:left; margin:0px 80px; }
article#services a.btn.slider{ display:block; top:45px; }
article#services a.btn.slider.left{ left:20px; }
article#services a.btn.slider.right{ right:20px; }

article#our-team div.teamslider-container{ position:relative; height:280px; margin-top:20px; }
article#our-team ul{ position:absolute; left:0px; overflow:hidden; }
article#our-team ul li{ float:left; margin:0px 32px; }
article#our-team a.btn.slider{ display:block; bottom:180px; }
article#our-team a.btn.slider.left{ left:20px; }
article#our-team a.btn.slider.right{ right:20px; }
article#our-team div.img-container{ width:152px; height:152px; }
article#our-team img, article#our-team div.img-container:hover img{ width:162px; height:162px; margin-top:-5px; margin-left:-5px; }
article#our-team ul li p.team-name, article#our-team ul li p.team-work, article#our-team ul li p.team-details{ position:relative; padding:0px !important; }
article#our-team ul li p.team-name, article#our-team ul li p.team-details{ top:3px; }
article#our-team li:hover p{ opacity:1 !important; }

article#about-us{ padding-bottom:90px; }

article#figures div.slider-container{ width:320px; margin:0px auto; overflow:hidden; }
article#figures ul#figures-circles{ width:1700px; }
article#figures ul#figures-circles li{ width:134px; height:111px; margin:0px 95px; padding-top:25px; border:4px solid #A50221 !important; }
article#figures ul#figures-circles li canvas{ display:none; }
article#figures ul#figures-circles li p{ font-size:12px; line-height:15px; }
article#figures a.btn.slider.figuresslider{ display:block; bottom:56px; }
article#figures a.btn.slider.figuresslider.left{ left:20px; }
article#figures a.btn.slider.figuresslider.right{ right:20px; }

article#figures div.figuresslider-container{ position:relative; height:151px; margin:0px auto; overflow:hidden; }
article#figures ul#figures-circles{ position:absolute; left:0px; }
article#figures nav#figures-list ul{ width:3000px; }
article#figures nav#figures-list ul li{ float:left; margin:0px 94px; }
article#figures a.text{ display:none; }
article#figures a.btn.slider.figureslistslider{ top:495px; }

article#quote{ padding:30px 0px 0px 0px; }
article#quote p, article#quote p *{ font-size:14px; line-height:16px; margin-bottom:40px; }
article#quote p em{ font-size:16px; line-height:18px; }
article#quote p strong{ display:none; }
article#quote img{ display:none; }

footer p a{ font-size:24px; line-height:26px; background-position: right 6px !important;}
footer#footer{ height:160px; }
footer#footer p{ position:relative; left:auto; right:auto; top:19px; }
footer#footer nav#footer-menu{ position:relative; top:30px; }
footer#footer nav#footer-menu ul{ line-height:normal; }
footer#footer nav#socials ul li{ margin:0px; }
footer#footer nav#socials{ position:relative; top:42px; right:auto; }

a.scrolltop{ width:50px; height:50px; }
a.scrolltop:hover{ background-position: center 15px; }

/* basics */
.large-padding{ padding:55px 0px; }
.small-padding{ padding:35px 0px; }
h4{ font-size:30px; line-height:33px; margin-bottom:30px; }
#text-first, #text-second, #text-third, #text-fourth, #text-fifth, #number-first, #number-second, #number-third, #number-fourth, #number-fifth, #letter-k{ opacity:1; }
article#services p, article#lead p, article#lead p *, .text.bigger{ font-size:16px; line-height:24px; width:auto; }
article#services p, article#our-team p, article#about-us p.text, article#figures p, article#quote p{ padding:0px 20px; }

/* subpages */

.subpage header{ margin-bottom:0px; }
#about-us-subpage ul li div{ width:314px; margin:10px 0px; }
h4.next-h4{ margin-top:50px; }
div.flag{ display:none; }
span.center-line{ display:none; }
article#our-history article{ width:357px; }
article#our-history article.left,
article#our-history article.right{ margin:7px 0px; }
article#our-history article p, article#our-history article small{ font-size:12px; line-height:20px; }
article#our-history article p strong{ font-size:17px; line-height:19px; }
article#our-history article small{ margin-bottom:10px; }

a.btn.slider{ display:block; }
.subpage a.btn.slider.clientslider{ top:auto; bottom:110px; }
article#ourclients nav ul li p.client-title{ margin-top:50px }

article#reference-block01{ height:135px; margin-top:-78px; }

article#reference-block02 div.slider-container{ height:140px !important; background:none; margin-top:-150px; margin-bottom:50px; }
article#reference-block02 div.slider-container div{ top:0px; left:45px; width:231px; height:144px; }
article#reference-block02 div.slider-container ul li img{ width:231px; height:144px; }
article#reference-block02 span.btn-container{ display:none; }
a.btn.slider.subrefsslider{ top:50px; }
a.btn.slider.subrefsslider.left{ left:0px; }
a.btn.slider.subrefsslider.right{ right:0px; }

article#reference-block03{ display:none; }

article#reference-block04 img, article#reference-block05 img{ width:90%; }

article#reference-block07{ height:140px; }
article#reference-block07 a.left,
article#reference-block07 a.right{ top:74px; }
article#reference-block07 a.left{ left:10px; }
article#reference-block07 a.right{ right:10px; }
article#reference-block07 a.middle{ width:294px; }

.reference-texts p{ width:90%; margin:0px auto; font-size:12px; line-height:16px; }
.reference-texts p strong{ font-size:16px; line-height:18px; }
.reference-texts ul.list-left,
.reference-texts ul.list-right{ float:none; width:100% !important;; margin-left:10px; max-width: 100%; }
.reference-texts ul.list-left li{ background:url(../img/grid/tick.png) no-repeat center left; text-align:left !important; padding-left:40px; margin:0px; }
.reference-texts ul.list-right li{ margin-left:0px; }

article#contact-us h5{ text-align:center; }
article#contact-us p, article#contact-us p *{ font-size:16px; line-height:18px; text-align:justify; }
article#contact-us form label{ width:100%; font-size:16px; line-height:18px; padding:10px 0px; }
article#contact-us form input.textfield{ width:238px; }
article#contact-us form textarea.textarea{ width:238px; max-width:238px; min-width:238px; }
article#contact-us select#select_services{ width:238px; }
article#contact-us form .btn-form{ float:none; margin:0px auto; }
article#contact-us .btn-form{ width:180px; }
article#contact-us div.col-small *{ text-align:center; }

article#services-branding p.text{ width:280px; margin:0px auto; }
article#services-branding ul#precent-loader li,
article#services-branding ul#precent-loader li div{ width:290px; margin:20px 0px; }
article#services-branding ul#precent-loader li p.title,
article#services-branding ul#precent-loader li p.detailed{ padding:0px; width:270px; margin:0px auto; }
article#services-branding ul#precent-loader li p.detailed{ margin-bottom:0px; }
article#services-branding ul#precent-loader li a{ float:none; margin:10px auto; }

.two-side-content p{ width:280px; margin-bottom:20px; padding:0px 20px; }

form#quotation,
.mobile-hidden,
#q-input_submit{ display:none; }
h2.mobile{ display:block; text-align:center; padding:0px 20px 20px 0px; width:auto; }

.reference-texts *{ font-size:14px; line-height:20px; }

article.texts.lead{ padding:0px 20px; }
ul.news-list li h2{ text-align:center; margin-bottom:0px; }
ul.two-side-list li div.img-container,
ul.two-side-list li article{ display:block; width:100%; float:none; margin:0px auto 0px auto; }
ul.two-side-list li div.img-container img{ width:100%; }

.subsubpage.texts p,
.subsubpage.texts h2,
.subsubpage.texts h3,
.subsubpage.texts h4{width:280px; margin:0px auto;}
.subsubpage.texts div.centered-ul ul{ margin:0px auto; display:block; max-width:80%; }

ul.sitemap{ height:auto; -moz-column-count:1; -webkit-column-count:1; -o-column-count:1; column-count:1;  }

div.ccm-next-previous-wrapper.services div.ccm-next-previous-parentlink a{ width:285px; margin-top:70px; }
div.ccm-next-previous-wrapper.services div.ccm-next-previous-previouslink a{ right:165px; left:auto; }
div.ccm-next-previous-wrapper.services div.ccm-next-previous-nextlink a{ left:165px; }

.addthis_toolbox.services{ position: relative; margin: 0px auto !important; margin-top: 13px !important; margin-bottom: -40px !important; }
.addthis_toolbox.services,
.addthis_toolbox.services.addthis_floating_style.addthis_32x32_style .addthis_internal_container{ width: 217px; }
.addthis_toolbox.services.addthis_floating_style.addthis_32x32_style .addthis_internal_container a{ float:left; line-height:auto !important; height:auto !important; border:none !important; }
.addthis_toolbox.services.ref{top:0% !important; margin:-30px auto 20px !important;}
.addthis_toolbox.services.ref.addthis_floating_style.addthis_32x32_style .addthis_internal_container a{ margin-bottom: -5px; }

article#reference-block02 div.slider-container{width:100%;}