<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="alexaVerifyID" content="2A8gJs7HTcFNSWXXevbK2Ofsfxc">
        <meta name="description" content="Description content">
        <meta name="keywords" content="Keywords content">
        <meta name="author" content="8 Ways Media SA">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


        <link rel="stylesheet" type="text/css" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/ccm.base.css">
        <script type="text/javascript" src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/jquery.js"></script>
        <script type="text/javascript" src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/ccm.base.js"></script>
        <link rel="stylesheet" type="text/css" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/view.css">
        <link rel="stylesheet" type="text/css" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/view(1).css">


        <link rel="stylesheet" type="text/css" media="all" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/style.css">
        <link rel="stylesheet" type="text/css" media="all" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/font.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/page320.css">
        <link rel="stylesheet" type="text/css" media="screen and (min-width:768px) and (max-width:1199px)" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/page768.css">
        <link rel="stylesheet" type="text/css" media="screen and (min-width:1200px)" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/page1400.css">


        <link rel="shortcut icon" href="http://www.8ways.ch/themes/8ways/img/grid/favicon.ico">
        <script type="text/javascript" src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/site.js"></script>
        <script type="text/javascript" src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/smoothscroll.js"></script>
        <script type="text/javascript" src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/countto.js"></script>
        <script type="text/javascript" src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/jquery.qrcode.min.js"></script>

        <script type="text/javascript" src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/ftoolsCheckRadioSkin.js"></script>


    </head>
    <body>
    <div id="main">
        <div class="">&nbsp;</div>

        <!-- main slider -->
        <div id="slider" class="col-full opacity70 skrollable skrollable-between" data-0="display:block;" data-1000="display:none;" style="display: block;">
            <div class="clr">&nbsp;</div>
            <ul id="slider_items">
                <li><div class="img-container"><img src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/slider-03.jpg" alt="Project 1"></div></li>
            </ul>
            <div id="slider-inner" data-0="opacity:1;" data-400="opacity:0;" class="skrollable skrollable-between" style="opacity: 0.0675;">
                <img src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/logo_big.png" alt="8 Ways Digital" class="logo-big">
                <h1>8 ways media</h1>
                <h2>Marketing &amp; Communication agency</h2>
                <div class="mouse-container">
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="clr">&nbsp;</div>
            </div>
        </div>

        <div id="bg">
            <div class="background1 skrollable skrollable-before" data-1000="height:0%;" data-1001="height:100%;" style="height: 0%;"></div>
            <div class="background2 skrollable skrollable-before" data-anchor-target="#services" data-bottom="height:0%;" data--1-bottom="height:100%;" style="height: 0%;"></div>
        </div>

        <div id="skrollr-body">
            <nav>
                <a href="/mynav#main" title="Back to top" class="scrolltop active"></a>
            </nav>
            <header style="" class="hide">
                <nav id="logo">
                    <a class="logo" href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/Web Design and Media Agency In Switzerland   8 Ways Media.html" title="8 Ways Digital"> <img src="./Web Design and Media Agency In Switzerland   8 Ways Media_files/logo.png" alt="8 Ways Digital"> </a>
                </nav>
                <div class="col-big">
                    <nav id="main_menu">
                        <ul>
                            <li class="tablet-menu"><a href="/mynav" title="Menu"><span class="icon-three-lines-v2"></span></a></li>
                            <li><a href="./Web Design and Media Agency In Switzerland   8 Ways Media_files/Web Design and Media Agency In Switzerland   8 Ways Media.html" title="Home" class="icon-menu-house">Home</a></li>
                            <li><a href="/mynav" title="Our Clients" class="icon-menu-briefcase">Our Clients</a></li>
                            <li><a href="/mynav#services" title="Services" class="icon-menu-gear">Services</a></li>
                            <li><a href="/mynav#our-team" title="The Team" class="icon-menu-peoples">The Team</a></li>
                            <li><a href="/mynav" title="About Us" class="icon-menu-speechbubble">About Us</a></li>
                            <li><a href="/mynav#figures" title="Some figures" class="icon-menu-tie">Some figures</a></li>
                            <li><a href="/mynav" title="News" class="icon-menu-news">News</a></li>
                            <li><a href="/mynav" title="Contact" class="icon-menu-letter">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clr">&nbsp;</div>
            </header>    <!-- Lead Text -->
          </div>
        </div><!-- main -->
    </body>
</html>